{:organization "dominv"
 :organization-name "Dominv"
 :logo {:href "http://47deg.com"
        :src "img/nav-brand.png"}
 :links [{:text "Blog" :href "http://47deg.com/blog"}
         {:text "Talks" :href "http://47deg.com/presentations"}
         {:text "Contact" :href "http://47deg.com/contact"}]
 :social {:twitter "47deg"
          :facebook "47degreesLLC"
          :linkedin "company/47-degrees-llc"}
 :languages #{"Scala" "Clojure" "Java" "Swift"}
 :included-projects #{"scastie"
                      "scala.epfl.ch"
                      "scala-exercises"}
 :project-logos {"scastie" "//dominv.github.io/scastie/img/navbar_brand.png"
                 "scala.epfl.ch" "//dominv.github.io/scala.epfl.ch/img/navbar_brand.png"}
 :token "811006e88cd581bd0e115f2c7f7466430cd9e8fc"
 :analytics "UA-18433785-13"
 :style {:primary-color "#F44336"
         :header {:background "linear-gradient(0deg, rgba(30, 39, 53, 0.88), rgba(30, 39, 53, 0.88)), url(\"img/header-background.jpg\") no-repeat center center"
                  :backgroundSize "cover"}
         :font {:url "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400"
                :base "'Open sans', sans-serif"
                :headings "'Poppins', sans-serif"
                :sizes {:light 300
                        :regular 400
                        :semi-bold 600
                        :bold 700}}}}